
<div class='addproducts'>
    <button (click)="addProducts()">Add New Product</button>
</div>

<h1>My Products:</h1> 
<div>
    <table class="table" style="border: 0px;">
      <tbody>
        <tr *ngFor="let product of products ">
          <td style="border: 0px;">{{ product.name }}</td>
          <td style="border: 0px;">{{product.price | currency: "INR" }}</td>
          <td style="border: 0px;"><button (click)="removeProduct(product.name)">Remove</button></td>
          <td style="border: 0px;"><button (click)="updateProduct(product)">Update</button></td>
        </tr>
      </tbody>
      </table>
</div>